version: 2.1

jobs:
  build:
    docker:
      - image: cimg/openjdk:17.0
    steps:
      - checkout
      - run:
          name: Fetch full Git history for SonarQube
          command: git fetch --unshallow || true
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            - v1-dependencies-
      - run:
          name: Build and Test
          command: mvn clean verify
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}
      - run:
          name: Analyze on SonarCloud
          command: mvn sonar:sonar -Dsonar.projectSettings=sonar-project.properties -Dsonar.token=$SONAR_TOKEN

workflows:
  version: 2
  build_and_test:
    jobs:
      - build:
          context: SonarCloud
